
#pages > div.page {
  display: none;

  &.loading {
    background-color: gray;
  }
}

#page-login, #page-signup {
  padding: 1em 2em;
  margin-top: 4em;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #aaa;
  box-sizing: border-box;
}


