!!!
html
  head
    block headtitle
        title NotableMind
    block meta
    link(rel="icon", type="image/png", href="/static/imgs/book16.png")
    block css
  body
    block body
    block endjs
      script(src="/vendor/js/jquery.js")
      script(src="/vendor/js/lodash.js")
      script(src="/vendor/js/backbone.js")
      script(src="/vendor/js/classy_js.js")
      script(src="/vendor/bootstrap/js/bootstrap.min.js")
