!!!
html(ng-app='notablemind')
  head
    block headtitle
        title NotableMind
    block meta
    link(rel="icon", type="image/png", href="/static/imgs/book16.png")
    block css
  body
    block body
    block endjs
