extends bootstrap

block headtitle
  title Home | A Notable Mind

append css
  link(href="/css/home.css", rel="stylesheet", media="screen")
  link(href="/css/thought.css", rel="stylesheet", media="screen")
  link(href="/css/page.css", rel="stylesheet", media="screen")

block bodytitle
  span Take You Some Notes!

block container
    #pages.row-fluid
      include pages/login
      include pages/sign-up
      include pages/page-view
      include pages/sync
      include pages/main

block endjs
  script.
    var TEMPLATES = [
        '/static/tpl/',
        'note',
        'thought',
        'note-text',
        'note-rich',
        'text',
        'input-editable',
        'iconinput',
        'discussion',
        'timeviewer',
        'dateviewer'
    ];
    var URLS = {
      'ajax-profile-login': "{% url 'ajax-profile-login' %}",
      'ajax-profile-register': "{% url 'ajax-profile-register' %}"
    };
  script(src="/js/build.js")

