extends bootstrap

block headtitle
  title Home | A Notable Mind

append css
  link(href="/css/home.css", rel="stylesheet", media="screen")
  link(href="/css/thought.css", rel="stylesheet", media="screen")
  link(href="/css/page.css", rel="stylesheet", media="screen")
  link(href="/css/build.css", rel="stylesheet", media="screen")

block bodytitle
  span Take You Some Notes!

block container
    #pages.row-fluid(ng-view)
    .templates
      script(id='noteList.html', type='text/ng-template')
        .note.top-note(data-note='note', data-parent='true')
      script(id="settings.html", type="text/ng-template")
        .settings-manager(data-settings-manager='notablemind')
          This should be replaced

append endjs
  script.
    var TEMPLATES = [
        '/static/tpl/',
        'note',
        'thought',
        'note-text',
        'note-rich',
        'text',
        'input-editable',
        'iconinput',
        'discussion',
        'timeviewer',
        'dateviewer'
    ];
    var URLS = {
      'ajax-profile-login': "{% url 'ajax-profile-login' %}",
      'ajax-profile-register': "{% url 'ajax-profile-register' %}"
    };
  script(src="/js/build.js")
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io.connect(location.protocol + '//' + location.hostname);
  script.
    var nm = require('notablemind');

